$blue: rgb(139, 157, 195);
$darkBlue: rgb(059, 089, 152);
$lightBlue: rgb(223, 227, 238);
$grey: rgb(247, 247, 247);
$white: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  font-family: Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
 -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto; 
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
}

#board, #menu, #splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button:active, .word:active, #selected-word:active {
  background: $lightBlue !important;
}

#splash {
}

#hello, #code, #go, #random {
  text-align: center;
  height: 25%;
  width: 100%;
}

#code, #go, #random {
  font-size: 4em;
}

#hello {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkBlue;
  color: $white;
}

#go, #random {
  background: $grey;
  color: $darkBlue;
}


.active {
  opacity: 1;
  z-index: 10000;
}

.inactive {
  opacity: 0;
  z-index: -10000;
}

.word {
  float: left;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word.unselected:nth-child(odd) {
  background: $white;
}

.word.unselected:nth-child(even) {
  background: $grey;
}

.hideColors .word {
  color: black !important;
  background: transparent !important;
}

.blue {
  background: lightblue;
}

.red {
  background: orangered;
}

.black {
  background: black;
  color: white;
}

.neutral {
  background: yellow;
}

#menu #selected-word {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu #menu-buttons {
  width: 100%;
  height: 80%;
}

#menu #menu-buttons button {
  float: left;
  width: 50%;
  height: 50%;
}

#footer {
  float: left;
  clear: left;
  width: 100%;
}

#toggle {
  height: 100%;
  width: 100%;
}

@media screen and (orientation:portrait) and (max-device-width: 375px) {
  .word {
    font-size: 10px;
  }
  #hello, #code, #go, #random {
    font-size: 5em;
  }
  #hello {
    font-size: 3em
  }
}

@media only screen and (min-device-width: 376px) {
    #content {
        height: 375px;
        width: 667px;
        font-size: 19px;
    }

    #header {
      height: 146px;
    }

    #footer {
      height: 146px;
    }
}