* {
  margin: 0;
  padding: 0;
}

#content {
  background: lightgreen;
  visibility: hidden;
}

#board {
  float: left;
}

.word {
	float: left;
	width: 20%;
	height: 40px;
	text-align: center;
}

.hideColors .word {
  color: black !important;
  background: transparent !important;
}

.blue {
	color: lightblue;
}

.red {
	color: orangered;
}

.black {
	background: black;
	color: white;
}

#footer {
  float: left;
  clear: left;
  width: 100%;
}

#toggle {
  height: 100%;
  width: 100%;
}


@media only screen and (min-device-width: 376px) {
    #content {
        height: 375px;
        width: 667px;
        font-size: 25px;
    }

    #header {
      height: 146px;
    }

    #footer {
      height: 146px;
    }
}